<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>
      
      <ion-col size="6">
        <h1> Sonic: O Filme</h1>
        <h2>12 de fevereiro de 2020</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/Kt9iFdTu5TbAm7tNfc876mrWU.jpg"/>
        <p> Depois de descobrir um ouriço pequeno, azul e rápido, um policial de uma pequena cidade deve ajudá-lo a derrotar um gênio do mal que deseja fazer experiências com ele.</p>
        <ion-button expand="block" fill="outline">Outline + Informações</ion-button>
      </ion-col>
    
      <ion-col size="6">
        <h1>Vingadores: Ultimato </h1>
        <h2>24 de abril de 2019</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/q6725aR8Zs4IwGMXzZT8aC8lh41.jpg"/>
        <p>Após os eventos devastadores de "Vingadores: Guerra Infinita", o universo está em ruínas devido aos esforços do Titã Louco, Thanos. Com a ajuda de aliados remanescentes, os Vingadores devem se reunir mais uma vez a fim de desfazer as ações de Thanos e restaurar a ordem no universo de uma vez por todas, não importando as consequências.</p>
        <ion-button expand="block" fill="outline">Outline + Informações</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      
      <ion-col size="6">
        <h1>O Date Perfeito</h1>
        <h2>12 de abril de 2019</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/thJQ8l4G7SipYicKtK8zinuyxQO.jpg"/>
        <p> Para juntar dinheiro para a faculdade, Brooks criou um app oferecendo seus serviços de falso namorado. Mas tudo se complica quando as coisas se tornam reais.</p>
        <ion-button expand="block" fill="outline">Outline + Informações</ion-button>
      </ion-col>
    
      <ion-col size="6">
        <h1>Harry Potter e a Pedra Filosofal</h1>
        <h2>16 de novembro de 2001</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/qnw9610ojLT0jU3lMSZOAFttt1e.jpg"/>
        <p>Harry Potter é um garoto órfão de 10 anos que vive infeliz com seus tios, os Dursley. Até que, repentinamente, ele recebe uma carta contendo um convite para ingressar em Hogwarts, uma famosa escola especializada em formar jovens bruxos. Inicialmente Harry é impedido de ler a carta por seu tio Válter, mas logo ele recebe a visita de Hagrid, o guarda-caça de Hogwarts, que chega em sua casa para levá-lo até a escola. A partir de então Harry passa a conhecer um mundo mágico que jamais imaginara, vivendo as mais diversas aventuras com seus mais novos amigos, Rony Weasley</p>
        <ion-button expand="block" fill="outline">Outline + Informações</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>